{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<meta charset="utf-8">
<title>Add a default marker to a web map</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">

<style>
body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; ;height: 800px;width: 1500px; }

</style>
</head>
<body>

<div id="map"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button type="button" id="fly-to-emsi" class="btn btn-danger"  title="go to stores"
            data-toggle="tooltip">Go to stores</button>
            <button type="button" id="fit" class="btn btn-dark" title="Move"
            data-toggle="tooltip">Move position</button>


            <div class="col-sm-12">
              
              <hr>
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill"
                        href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Hospitals</a>
                    </li>
                    <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill"
                        href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">Police Stations</a></li>
                    <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill"
                        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">Pharmacy</a></li>
                    <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill"
                        href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Supermarkets</a></li>
                  </ul>
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                      aria-labelledby="v-pills-home-tab">
                      <p>Centre Hospitalier Universitaire Mohammed VI - Marrakech (CHU)
                        Adresse : Av. Ibn Sina, Marrakech</p>
                        <p>Hôpital Ibn Tofail
                          Adresse : Boulevard Abdelkrim El Khattabi, Marrakech</p>
                          <p>Centre Hospitalier Ibn Zohr
                            Adresse : Rue Abou Bakr Seddik, Marrakech</p>
                            <p>Clinique Al Azhar
                              Adresse : Rue Iben Aouda, Marrakech</p>
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                      aria-labelledby="v-pills-profile-tab">
                    
                                <p>Commissariat de Police de Marrakech-Médina
                                  Adresse : Rue de Yougoslavie, Marrakech
                                  </p>
                                  <p>Commissariat de Police de Marrakech-Gueliz
                                    Adresse : Avenue Mohammed V, Marrakech</p>
                                    <p>Commissariat de Police de Marrakech-Menara
                                      Adresse : Rue Ibn Khaldoun, Marrakech</p>
                                      <p>Commissariat de Police de Marrakech-Kasbah
                                        Adresse : Rue El Qadi Ayad, Marrakech</p>
                                        <p>Commissariat de Police de Marrakech-Bab Doukkala
                                          Adresse : Rue Laalouj, Marrakech</p>
                                
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                      aria-labelledby="v-pills-messages-tab">
                      <p >Pharmacie Al Kawtar
                        Adresse : Avenue Abdelkrim Khattabi, Marrakech</p>
                        <p>Pharmacie El Hank
                          Adresse : Avenue Yacoub El Mansour, Marrakech</p>
                          <p>Pharmacie Al Hamra
                            Adresse : Rue de la Liberté, Marrakech</p>
                            <p>Pharmacie Al Baraka
                              Adresse : Avenue Mohammed VI, Marrakech</p>
                              <p>Pharmacie Al Amane
                                Adresse : Avenue Mohammed V, Marrakech</p>
                        

                   
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                      aria-labelledby="v-pills-settings-tab">
                      <p >Al Mazar Mall
                        Adresse : Avenue Mohammed VI, Marrakech</p>
                        <p>Carré Eden Shopping Center
                          Adresse : Avenue Mohammed V, Marrakech</p>
                          <p>Almazar Shopping Mall
                            Adresse : Route de l'Ourika, Marrakech
                            </p>
                            <p>Menara Mall
                              Adresse : Avenue Mohammed VI, Marrakech</p>
                              
                    </div>
                  </div>
                </div>
              </div>
            </div>
<script>
	mapboxgl.accessToken = 'j'ai supprimée ceci pour mettre le repository en public';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-7.981084,31.629473],
        zoom: 8
    });

const boroughs =[
  {
      'name': 'decathlon',
      'color':'#CC6CE7',
      lnglat :  [-8.012967,31.634270]
  },
  {
      'name': 'Marjan',
      'color':'#E4080A',
      lnglat : [-8.010546,31.631928] 
  },
  {
      'name': 'jouha store',
      'color':'#FFDE59',
      lnglat :  [-8.015126,31.632163]
  },
  {
      'name': 'salma store',
      'color':'#060270',
      lnglat :  [-8.012383,31.632808]
  },
  {
      'name': 'khaoula store',
      'color':'#5DE2E7',
      lnglat :  [-8.010123,31.632848]
  },
  {
      'name': ' Aliaa Store ',
      'color':'#5DE2E7',
      lnglat :  [-8.019462,31.648780]
  },
  {
      'name': 'Pharmacie Aliae',
      'color':'#060270',
      lnglat :  [-8.018926,31.653440]
  },
  {
      'name': 'whatever',
      'color':'#5DE2E7',
      lnglat :  [-8.020267,31.657917]
  },
  {
      'name': 'Jouha pharmacie',
      'color':'#5DE2E7',
      lnglat :  [-8.020267,31.657917]
  },
  {
      'name': ' Salma Pharmacie ',
      'color':'#5DE2E7',
      lnglat :  [-8.028906,31.654582]
  },

]
boroughs.forEach( ({name,color,lnglat})=>  {
    // l pop up
    const popup = new mapboxgl.Popup({ offset: 50 }).setText(name);


 // Create a default Marker f gueliz.
 const marker1 = new mapboxgl.Marker(
  {
    color,
    scale:2
  }
 )
        .setLngLat(lnglat)
        .setPopup(popup)
        .addTo(map);

}
)

    const marker2 = new mapboxgl.Marker({ color: 'black', rotation: 45 })
        .setLngLat([12.65147, 55.608166])
        .addTo(map);


        map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true,
            showUserHeading: true
        })
    );
document.querySelector('#fly-to-emsi').addEventListener('click' , () => {

  console.log('click')
  map.flyTo({
    center:[-8.012732,31.631294],
    zoom:15
  })
});
//between the two waa9ila
document.querySelector('#fit').addEventListener('click', () => {
        map.fitBounds([
            [-8.012732,31.631294], 
            [-8.019059,31.654220] 
        ]);
    });

    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            options: {
                trackProximity: true, 
                
            }
        })
    );
    function calculateDistance(coord1, coord2) {
    const [lng1, lat1] = coord1;
    const [lng2, lat2] = coord2;
    const dLng = Math.abs(lng1 - lng2);
    const dLat = Math.abs(lat1 - lat2);
    return Math.sqrt(dLng * dLng + dLat * dLat);
}
function isNearMarrakech(lnglat) {
    return calculateDistance(marrakechCenter, lnglat) <= maxDistance;
}
boroughs.forEach(({ name, color, lnglat }) => {
    if (isNearMarrakech(lnglat)) {
       
        const popup = new mapboxgl.Popup({ offset: 25 }).setText(name);

        const marker = new mapboxgl.Marker({ color })
            .setLngLat(lnglat)
            .setPopup(popup)
            .addTo(map);
    }
});

</script>

{% endblock content %}
        
